<mat-card *ngIf='_tournament' class="example-card">
    <mat-card-header>
        <div mat-card-avatar="mat-card-avatar" class="example-header-image">
            <img class="tournament-card-user-avatar" src={{_tournament.user.coverUrl}}/>
        </div>
        <mat-card-title>{{_tournament.user.firstName}} {{_tournament.user.lastName}}</mat-card-title>
        <mat-card-subtitle>{{_tournament.createdAt | date:'fullDate' }}</mat-card-subtitle>
    </mat-card-header>

    <app-tournament-banner [teams]='_tournament.teams'></app-tournament-banner>
    
    <mat-card-content>
        <ul id="tournament-details">
            <li><a [routerLink]="[ '/tournaments',_tournament.id]">{{_tournament.title}}</a></li>
            <li>@ {{_tournament.place}}</li>
            <li>On {{_tournament.startingDate  | date:'fullDate'}}</li>
            <li>{{_tournament.tournamentPrize}} $ </li>
        </ul>
    </mat-card-content>
    <mat-card-actions id="tournament-card-actions">
        <button mat-button="mat-button">LIKE</button>
        <button mat-button="mat-button">SHARE</button>
    </mat-card-actions>
</mat-card>
