<nav class="navbar navbar-light ">
    <div class="container-fluid">
        <span [routerLink]="[ '/']" class="navbar-brand mb-0 h1">BarelyGambling</span>
        
        <div class="d-flex">
            <div *ngIf='authUser; else showLogin'>
                <button mat-button [matMenuTriggerFor]="menu">{{authUser.user.firstName}}</button>
                <mat-menu #menu="matMenu">
                    <button (click)="openProfileDrawer()" mat-menu-item>Profile</button>
                    <button (click)="logout()" mat-menu-item>Logout</button>
                </mat-menu>
            </div>
            <ng-template #showLogin>
                <button  [routerLink]="[ '/login']" mat-flat-button color="link">Sign In</button>
            </ng-template>
            
        </div>
    </div>
</nav>
