<nav class="navbar navbar-light ">
    <div class="container-fluid">
        <span [routerLink]="[ '/']" class="navbar-brand mb-0 h1">BarelyGambling</span>
        
        <div class="d-flex">
            <div *ngIf='authUser; else showLogin'>
                {{authUser.user.firstName}}
            </div>
            <ng-template #showLogin>
                <button  [routerLink]="[ '/login']" mat-flat-button color="primary">Sign In</button>
            </ng-template>
            
        </div>
    </div>
</nav>
