$background-blue:#3F51B5;
.profile-section{
    display: block;
}
.profile-section p{
    display: inline;
    font-size: 20px;
}

.profile-section>div{
    display: flex;
    justify-content: center;
}
.profile-controls{
    display: flex;
    justify-content: flex-end !important;
}
#change-password-button{
    margin-left: 5px;
    font-size: 15px;
    color: $background-blue;
    cursor: pointer;
}

