<app-home>
    <div *ngIf="spinner" id="overlay-spinner">
        <mat-spinner ></mat-spinner>
    </div>
    <div id="tournaments-header" class="row">
        <div class="col-8">
            <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Search</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </p>
        </div>
        <div class="col-4">
            <a [routerLink]="[ '/tournaments/create']" mat-flat-button color="primary">Create</a>
        </div>
    </div>
    <div class="home-components">
        <div id="tournament-card-containor" *ngIf="_tournaments!=null && _fetchingTournamentsComplete;else tournamentsLoading">
            <app-tournament-card (selectedTournament)='selectedTournament.emit($event)'   class="tournament-card" [_tournament]='tournament' *ngFor="let tournament of _tournaments"></app-tournament-card>
        </div>
    
        <ng-template #tournamentsLoading>
            <div id="loading-spinner" *ngIf="_tournaments==null && !_fetchingTournamentsComplete;else noTournamentsFound">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>
        <ng-template #noTournamentsFound>
            <p class="emptyMessage">No tournament have been created yet!</p>
        </ng-template>
    
    </div>
    
</app-home>