#loading-spinner{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#tournament-card-containor{
    display: flex;
    align-content: center;
    padding: 0 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}


.tournament-card{
    width: 45%;
    margin-bottom: 20px;
}
.tournament-card:nth-child(odd){
    margin-right: 20px;
}



#tournaments-header{
    padding: 0 20px;
}
#tournaments-header div.col-4{
    text-align: end;
}