.tournament-card-user-avatar{
    width: 100%;
}

#tournament-details{
    padding: 0;
    list-style: none;
    margin-top: 15px;
    text-align: center;
}
#tournament-details li{
    margin: 5px;
}
#tournament-details li:first-child{
    font-weight: bold;
    text-decoration: underline;
    font-size: 15px;
}

#tournament-card-actions{
    display: flex;
    justify-content: flex-end;
}